In [1]:
#importing required libraries
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
# to get the similarity scores for large data sets using linear kernel over cosine_sim
from sklearn.metrics.pairwise import linear_kernel

In [3]:
#importing data into python environment and creating data frame

movie_df=pd.read_csv('db_5000_movies.txt')
credit_df=pd.read_csv('db_5000_credits.txt')

In [7]:
movie_df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [5]:
credit_df.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [8]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [9]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [14]:
movie_df.rename(columns={'id':'movie_id'},inplace=True)

In [15]:
final_df=movie_df.merge(credit_df,on='movie_id')

In [16]:
final_df.head(2)

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [17]:
#dropping duplicate and unwanted columns
final_df=final_df.drop(columns=['title_y','title_x','homepage','budget','original_language','runtime'])

In [18]:
final_df.head(2)

,genres,movie_id,keywords,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,status,tagline,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [19]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                4803 non-null   object
 1   movie_id              4803 non-null   int64
 2   keywords              4803 non-null   object
 3   original_title        4803 non-null   object
 4   overview              4800 non-null   object
 5   popularity            4803 non-null   float64
 6   production_companies  4803 non-null   object
 7   production_countries  4803 non-null   object
 8   release_date          4802 non-null   object
 9   revenue               4803 non-null   int64
 10  spoken_languages      4803 non-null   object
 11  status                4803 non-null   object
 12  tagline               3959 non-null   object
 13  vote_average          4803 non-null   float64
 14  vote_count            4803 non-null   int64
 15  cast                  4803 non-null   object
 16  crew                  4803 non-null   object
dtypes: float64(2), int64(3), object(12)
memory usage: 675.4+ KB

In [20]:
final_df=final_df.drop(columns=['status','release_date','production_countries','production_companies','spoken_languages'])

In [21]:
final_df.head(2)

,genres,movie_id,keywords,original_title,overview,popularity,revenue,tagline,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,"At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [22]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          4803 non-null   object
 1   movie_id        4803 non-null   int64
 2   keywords        4803 non-null   object
 3   original_title  4803 non-null   object
 4   overview        4800 non-null   object
 5   popularity      4803 non-null   float64
 6   revenue         4803 non-null   int64
 7   tagline         3959 non-null   object
 8   vote_average    4803 non-null   float64
 9   vote_count      4803 non-null   int64
 10  cast            4803 non-null   object
 11  crew            4803 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 487.8+ KB

In [23]:
#  have some missing values in overview column , so replacing with empty string.
final_df['overview']=final_df['overview'].fillna('')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          4803 non-null   object
 1   movie_id        4803 non-null   int64
 2   keywords        4803 non-null   object
 3   original_title  4803 non-null   object
 4   overview        4803 non-null   object
 5   popularity      4803 non-null   float64
 6   revenue         4803 non-null   int64
 7   tagline         3959 non-null   object
 8   vote_average    4803 non-null   float64
 9   vote_count      4803 non-null   int64
 10  cast            4803 non-null   object
 11  crew            4803 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 487.8+ KB

In [25]:
## Now our data is ready and we will build a recommendation system to recommend movie based on overview
tfidf=TfidfVectorizer(stop_words='english',ngram_range=(1,3),analyzer='word')
tfidf_matrix=tfidf.fit_transform(final_df['overview'])
tfidf_matrix.shape

(4803, 261395)

In [26]:
## Now we will take similarity scores for each movie with rest based on overview
sim_score=linear_kernel(tfidf_matrix,tfidf_matrix)
sim_score.shape

(4803, 4803)

In [28]:
sim_score[1]

array([0.        , 1.        , 0.        , ..., 0.00488271, 0.        ,
       0.        ])

In [31]:
# creating a series to get index based on movie title

movie_index=pd.Series(final_df.index,index=final_df['original_title']).drop_duplicates()
movie_index[:5]

original_title
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
dtype: int64

In [42]:
def get_sim_movies(title,sim_score):
    index=movie_index[title]
    score=list(enumerate(sim_score[index]))
    score=sorted(score,key=lambda x: x[1], reverse=True)
    score=score[1:11]
    indices=[i[0] for i in score]
    
    return final_df['original_title'].iloc[indices]

In [43]:
print(get_sim_movies('Avatar',sim_score))

634                       The Matrix
3604                       Apollo 18
1341                Obitaemyy Ostrov
529                 Tears of the Sun
2130                    The American
775                        Supernova
847                         Semi-Pro
311     The Adventures of Pluto Nash
1610                           Hanna
1213     Aliens vs Predator: Requiem
Name: original_title, dtype: object

In [44]:
print(get_sim_movies('Batman Forever',sim_score))

3                         The Dark Knight Rises
1359                                     Batman
65                              The Dark Knight
119                               Batman Begins
210                              Batman & Robin
428                              Batman Returns
3854    Batman: The Dark Knight Returns, Part 2
2507                                  Slow Burn
1281                                    Hackers
1181                                        JFK
Name: original_title, dtype: object